* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 20px;
    color: saddlebrown;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth;
    font-family: 'Nerko One', cursive;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.header__img {
    width: 40px;
    height: 40px;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 80px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 30%;
    gap: 5px;
}

.header__name {
    width: 225px;
    font-size: 30px;
    color: darkgreen;
}

.header__nav {
    margin-right: 12%;
}

.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 25px;
}

button {
    cursor: pointer;
    box-shadow: 7px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: greenyellow;
    transition: background-color .4s linear;
}

button:active {
    transform: scale(0.95);
}

.login___button {
    margin-right: 5%;
    color: darkgreen;
}

.log__button {
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    color: darkgreen;
    background: cadetblue;
    border: none;
    border-radius: 10px;
    width: 103px;
    height: 50px;
}

.background {
    max-width: 1440px;
    background-image: url("assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.nav__link {
    text-decoration: none;
    color: darkgreen;
    opacity: 0.6;
    text-transform: uppercase;
}

.nav__link:hover {
    opacity: 1;
    color: greenyellow;
    transition: opacity, color .4s linear;
}

.content {
    display: flex;
    margin-bottom: 100px;
}

.right__part {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 15%;
    margin-right: 5%;
}

.bird {
    margin-left: 5%;
    margin-right: 35%;
    margin-top: 5%;
}

h1 {
    font-size: 35px;
    width: 300px;
    color: saddlebrown;
}

h2 {
    font-size: 25px;
    color: darkgreen;
}


.footer__inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__link {
    margin-right: 5%;

}

.links {
    text-decoration: none;
    color: darkgreen;
}